.red-btn{
    border-radius: 50%;
    width: 60px;
  }
  .location{
    text-align: left;
  }
  .location input{
    color:gray;
  }
  .location input{
    border: 0;
  }
  .location {
    display: flex;
    flex-direction: column;
  }
  /* .location::after{
    content: 'location';
  } */
  .cheak-in {
    display: flex;
    flex-direction: column;
  }
  .cheak-out {
    display: flex;
    flex-direction: column;
  }
  .guests {
    display: flex;
    flex-direction: column;
  }
  .filter-wrraper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-inline-start: 8px;
    margin-inline-end: 8px;
  }